ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
BUNDLE_LOADER=$(TEST_HOST)
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=1
GENERATE_INFOPLIST_FILE=YES
MACOSX_DEPLOYMENT_TARGET=12.1
MARKETING_VERSION=1.0
PRODUCT_BUNDLE_IDENTIFIER=com.agoda.test.test.SpyglassTests
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_EMIT_LOC_STRINGS=NO
SWIFT_VERSION=5.0
TEST_HOST=$(BUILT_PRODUCTS_DIR)/Spyglass.app/Contents/MacOS/Spyglass

